<h1>XKCD Comments</h1>
<p><i>Click on a comic to leave a comment</i></p>
<p>
    {{#if user}}
        Commenting as <span class="red-text">{{user.username}}</span>. <a href="/logout">Logout</a>
    {{else}}
        Commenting as a guest. To protect your comments, <a href="/auth/facebook">login with Facebook.</a>
    {{/if}}
</p>
<div class="row grid">
    {{#each headlines}}
        <div class="col s12 m4 grid-item">
            <div class="card" id="{{_id}}">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{imgURL}}" alt="{{title}}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4 flow-text">{{title}}<i class="material-icons right">more_vert</i></span>
                    <p><a href="{{../base}}{{URL}}" target="_blank" title="view comic"><i class="material-icons">link</i></a></p>
                    <p>
                        <i>{{imgCaption}}</i>
                    </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{title}}<i class="material-icons right">close</i></span>
                    <div class="comments">
                        {{#each comments}}
                            {{>comment _id=this._id guestUser=../../guestUser commentUser=this.user comment=this.comment user=../../user}}
                        {{/each}}
                    </div>
                    <form class="commentForm {{#if comments.length}}hide{{/if}}">
                        <input type="text" data-id="{{_id}}" id="commentText" placeholder="comment (and press ENTER)">
                    </form>
                    <div class="stickyButton right-align">
                        <a class="btn-floating btn-small red waves-effect waves-light addComment" title="add a comment">
                            <i class="small material-icons right">add</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</div>
